{% extends 'lesimulatte/template.html' %}

{% block content %}
    <body class="main">
    <div class="row">
        <div class="col-md-3">
            <img src="{{ clothing_item.image.url }}" alt="{{ clothing_item.name }}" class="img-fluid">
        </div>
        <div class="col-md-3">
            <h2>{{ clothing_item.name }}</h2>
            <p>{{ clothing_item.description }}</p>
            <p>Price: ${{ clothing_item.price }}</p>
            <a href="{% url 'payment' %}" class="btn btn-primary">Buy Now</a>
        </div>
    </div>
    </body>
{% endblock %}

